$main-color : #cfaf6d;
$main-hover : #a58749;
$second-color: #202b5a;
$select-color: #3c466f;
$white-color: #fff;
$navbar-color: rgba(#3f4961, .9);
$text-color: rgba(#202b5a, .4);
$login-color: rgba(#676f80, .8);
$border-color: #aaacb3;
$p-color: #535353;
$body-color: #efefef
